{% from "icons.html" import search_icon, logo, lock_icon, favorites_icon, add_icon %}
{% extends "layout.html" %}

{% block title %}
  {% if title %}
  {{ title }}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="container py-5">
    <div class="row justify-content-center text-center mb-3">
      <div class="col">
        <h2 class="mb-1">Search for Food</h2>
        <p class="text-muted">Find the calorie information for your favorite foods.</p>
      </div>
    </div>

    <div class="row">
      <form class="input-group d-flex justify-content-center" onsubmit="return false;">
        <div class="input-group-prepend">
          <div class="input-group-text">
            {{ logo() }}
          </div>
        </div>

        <input type="text" class="form-control" id="searchQuery" placeholder="Search food...">
        <div class="input-group-append">
          <span type="submit" class="input-group-text">{{ search_icon() }}</span>
        </div>
      </form>
    </div>

    <hr>

    <div id="results">
    </div>
  </div>

  <div class="modal fade" id="foodModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Food Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="foodModalBody">
          <p>Loading...</p>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    const lockIconHTML = `{{ lock_icon()|safe }}`;
    const favoritesIconHTML = `{{ favorites_icon()|safe }}`;
    const addIconHTML = `{{ add_icon()|safe }}`;
    var userLoggedIn = `{{ 'true' if session.get('user') else 'false' }}`;
  </script>



  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

{% endblock %}