{% extends "layout.html" %}

{% block title %}
  {% if title %}
  {{title}}
  {% endif %}
{% endblock %}

{% block content %}
  <div class = "card-wrapper">
    <div class = "card">      
      <h3> Create an Account</h3>
      <form name = "signup_form">
        <label for = "name">Name</label>
        <input type = "text" name = "name" class = "field" required>

        <label for = "email">Email</label>
        <input type = "email" name = "email" class = "field" required>

        <label for = "password">Password</label>
        <input type = "password" name = "password" class = "field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value ="SIGN UP" class = "btn btn-primary">
      </form>
    </div>
  </div>
{% endblock %}