{% from "icons.html" import eyefill_icon, eyeslash_icon %}
{% extends "layout.html" %}

{% block title %}
  {% if title %}
  {{title}}
  {% endif %}
{% endblock %}

{% block content %}
  <style>
    #message {
      font-family: 'Sofia Sans', sans-serif;
      display: none;
      background: rgba(1, 1, 1, 0.5);
      color: var(--text);
      position: relative;
      padding: 8px;
      margin-top: 3px;
      font-size: 10px;
      border: 1px solid rgba(1, 1, 1, 0.5);
      border-radius: 5px;
    }

    #message p {
      font-family: 'Sofia Sans', sans-serif;
      padding: 2px 5px;
      font-size: 11px;
      margin: 0;
    }

    .valid {
      color: green;
    }

    .invalid {
      color: red;
    }

    .password-wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }

    #togglePassword {
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      bottom: 35px;
      cursor: pointer;
      color: #e6e3dd;
    }
  </style>

  <div class="card-wrapper">
    <div class="card">
      <h3> Create an Account</h3>

      {% if error %}
        <div class="error-message">
          <p>{{ error }}</p>
        </div>
      {% endif %}

      <form name="signup_form" method="post">
        <label for="name">Name <span class="required">*</span></label>
        <input type="text" name="name" class="field" required>

        <label for="email">Email <span class="required">*</span></label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password <span class="required">*</span></label>
        <div class="password-wrapper">
          <input type="password" id="password" name="password" class="field" required
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
                 title="Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character.">
          <button type="button" id="togglePassword">
            {{ eyeslash_icon() }}
          </button>
        </div>
        
        <div id="message">
          <p id="letter" class="invalid">At least 1 lowercase letter</p>
          <p id="capital" class="invalid">At least 1 uppercase letter</p>
          <p id="number" class="invalid">At least 1 number</p>
          <p id="special" class="invalid">At least 1 special character (@$!%*?&)</p>
          <p id="length" class="invalid">At least 8 characters</p>
        </div>

        <label for="weight">Weight (kg) <span class="required">*</span></label>
        <input type="number" name="weight" class="field" step="0.1" required>

        <label for="height">Height (cm) <span class="required">*</span></label>
        <input type="number" name="height" class="field" required>

        <label for="activity_level">Activity Level <span class="required">*</span></label>
        <select name="activity_level" class="field" required>
          <option value="" disabled selected hidden>Select your activity level</option>
          <option value="sedentary">Sedentary</option>
          <option value="light_activity">Light activity</option>
          <option value="moderate_activity">Moderate activity</option>
          <option value="very_active">Very active</option>
          <option value="extremely_active">Extremely active</option>
        </select>

        <label for="dob">Date of Birth <span class="required">*</span></label>
        <input type="date" name="dob" class="field" required>

        <label for="sex">Sex <span class="required">*</span></label>
        <select name="sex" class="field" required>
          <option value="" disabled selected hidden>Select your sex</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>

        <input type="submit" value="SIGN UP" class="btn btn-primary">
      </form>
    </div>
  </div>
  
  <script>
    document.getElementById('togglePassword').addEventListener('click', function () {
    let passwordField = document.getElementById('password');
    let toggleButton = document.getElementById('togglePassword');

    if (passwordField.type === 'password') {
      passwordField.type = 'text';
      toggleButton.innerHTML = `{{ eyefill_icon() }}`;
    } else {
      passwordField.type = 'password';
      toggleButton.innerHTML = `{{ eyeslash_icon() }}`;
    }
  });
  </script>
  
  <script src="{{ url_for('static', filename='js/valid.js') }}"></script>

{% endblock %}