{% from "icons.html" import eyefill_icon, eyeslash_icon %}
{% extends "layout.html" %}

{% block title %}
  {% if title %}
    {{ title }}
  {% endif %}
{% endblock %}

{% block content %}

  <style>
    .password-wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }

    #togglePassword {
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      bottom: 35px;
      cursor: pointer;
      color: #e6e3dd;
    }
  </style>

  <div class="card-wrapper">
    <div class="card">
      {% if error %}
        <div class="error-message">
          <p>{{ error }}</p>
        </div>
      {% endif %}
    
      <form name="login_form" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <div class="password-wrapper">
          <input type="password" name="password" id="password" class="field" required style="flex: 1;">
          <button type="button" id="togglePassword">
            {{ eyeslash_icon() }}
          </button>
        </div>

        <input type="submit" value="SIGN IN" class="btn btn-primary">
      </form>
    </div>
  </div>
  
  <div class="text-center d-flex align-items-center justify-content-center">
    Not registered?&nbsp;
    <a class="ms-1" href="/sign-up">Sign up now</a>
  </div>
  <div class="text-center d-flex align-items-center justify-content-center">
    Forgot password?&nbsp;
    <a class="ms-1" href="/forgot-password">Reset now</a>
  </div>

  <script>
    document.getElementById('togglePassword').addEventListener('click', function () {
    let passwordField = document.getElementById('password');
    let toggleButton = document.getElementById('togglePassword');

    if (passwordField.type === 'password') {
      passwordField.type = 'text';
      toggleButton.innerHTML = `{{ eyefill_icon() }}`;
    } else {
      passwordField.type = 'password';
      toggleButton.innerHTML = `{{ eyeslash_icon() }}`;
    }
  });
  </script>

{% endblock %}

