{% extends "layout.html" %}

{% block title %}
  {% if title %}
  {{title}}
  {% endif %}
{% endblock %}

{% block content %}

  <!-- TODO: PROFILE -->
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <p class="center">You are currently logged in.</p>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>
    
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}<br>
        <strong>Weight:</strong> {{ session['user']['weight'] }}<br>
        <strong>Height:</strong> {{ session['user']['height'] }}<br>
        <strong>Activity Level:</strong> {{ session['user']['activity_level'] }}
      </p>
    
    </div>
  
  </div>

{% endblock %}